<div class="grid">

  <div class="grid__item small--text-center">

   
<div class="register-form">
    {% comment %}
      This form must use 'create_customer'
    {% endcomment %} 

    {% comment %}
    {% form 'create_customer' %}

      {{ form.errors | default_errors }}

      <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

      <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

      <label for="Email" class="label--hidden">{{ 'customer.register.email' | t }}</label>
      <input type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
      
      <label for="Company" class="label--hidden">{{ 'customer.register.company' | t }}</label>
            <input type="text" name="customer[company]" id="company" placeholder="{{ 'customer.register.company' | t }}" {% if form.company %}value="{{ form.company }}"{% endif %} autocapitalize="words">

      <!-- Shopify Customer Registration -- Capture VAT numbers from customers. Used by quaderno.io. -->
      <label for="vat_number">VAT Number</label>
      <input id="vat_number" type="text" name="customer[note][vat_number]" />

      <label for="CreatePassword" class="label--hidden">{{ 'customer.register.password' | t }}</label>
      <input type="password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

      
      <p>
      
      
        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
      </p>
      <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>

    {% endform %}
  
  </div> {% endcomment %} 

<div class="register-form-welkom">
  <h2>Welkom bij Painton<span>.</span></h2> 
    <P>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit consectetur augue a sagittis. Donec ut est eget arcu feugiat iaculis non a nisl. Quisque libero est, aliquam vitae pulvinar id, varius nec massa. Suspendisse eleifend nunc metus, 
    </P>
</div>
<div class="register_form">

{% form 'create_customer' %}
  {{ form.errors | default_errors }}

  <div>
    <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
    <input type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>
  </div>

  <div>
    <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
    <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
  </div>

  <div>
    <label for="Email">{{ 'customer.register.email' | t }}</label>
    <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
  </div>

  <div>
    <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
    <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
  </div>

  <div>
    <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
  </div>
{% endform %}

</div>

</div>
</div>
