<div class="grid">
  <div class="grid__item">	
      <div class="categorie2-wrapper">
            <h2>benodigdheden<span class="title-2"></span></h2>
            <div class="title-text">{{ page.content }}</div>

            <div class="content-wrapper">
                <div class="link-wrapper">
                    <h4>benodigdheden</h4>
                    <ul>
                          <li>
                            <a href="/collections/benodigheden-verfborstels">>Verfborstels</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-verfrollen">>Verfrollen</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-schuurmateriaal">>Schuurmateriaal </a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-afplak-en-beschermingsmateriaal">>Afplak- en beschermingsmateriaal</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-voegen-vullen-en-plamuren">>Voeg, vullen en plamuren</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-reinigingsmiddelen">>Reinigingsmiddelen</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-verfemmers-en-bakjes">>Verfemmers en bakjes</a>
                        </li>
                       
                    </ul>
                    
                </div>

                <div class="alle-categorie-wrapper">
                    <ul>
                        <li>
                            <a href="/collections/benodigheden-verfborstels">
                            <div class="categorie3-wrapper">
                            
                                {{ 'verfborstel-nieuw.png' | asset_url | img_tag }}
                                <p> Verfborstels</p>
                            </div>
                        </a>
                        </li>
                        
                        <li>
                            <a href="/collections/benodigheden-verfrollen">
                            <div class="categorie3-wrapper">
                            
                                {{ 'verfrollen.png' | asset_url | img_tag }}
                                <p> Verfrollen</p>
                            </div>
                        </a>
                        </li>
            
                        <li>
                            <a href="/collections/benodigheden-schuurmateriaal">
                            <div class="categorie3-wrapper">
                            
                                {{ 'schuurmateriaal.png' | asset_url | img_tag }}
                                <p>Schuurmateriaal</p>
                            </div>
                        </a>
                        </li>

                        <li>
                            <a href="/collections/benodigheden-afplak-en-beschermingsmateriaal">
                            <div class="categorie3-wrapper">
                            
                                {{ 'afplak-en-beschermingsmateriaal.png' | asset_url | img_tag }}
                                <p>Afplakmateriaal</p>
                            </div>
                        </a>
                        </li>
                        
            
                    
                        <li>
                            <a href="https://paintstore.be/collections/benodigheden-voegen-vullen-en-plamuren">
                            <div class="categorie3-wrapper">
                            
                                {{ 'voegenvullen-en-plamuren.png' | asset_url | img_tag }}
                                <p> Voegen en plamuren</p>
                            </div>
                        </a>
                        </li>
                        
                        <li>
                            <a href="https://paintstore.be/collections/benodigheden-reinigingsmiddelen">
                            <div class="categorie3-wrapper">
                            
                                {{ 'reinigingsmiddelen.png' | asset_url | img_tag }}
                                <p> Reinigingsmiddelen</p>
                            </div>
                        </a>
                        </li>
            
                        <li>
                            <a href="https://paintstore.be/collections/benodigheden-verfemmers-en-bakjes">
                            <div class="categorie3-wrapper">
                            
                                {{ 'verfemmers-en-bakjes.png' | asset_url | img_tag }}
                                <p>Verfemmers en bakjes</p>
                            </div>
                        </a>
                        </li>

                        <li class="filling" style="visibility:hidden;">
                            <a href="https://paintstore.be/collections/advies-en-service">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/vloerverf.png" alt="">
                                <p>Vloerverf</p>
                            </div>
                        </a>
                        </li>
            
                    </ul>
                </div>

            </div>
            
            {%include 'paintstore.geen_idee_wat_je_nodig_hebt'%}
        

  </div>
</div>
<style>
    .categorie3-wrapper {
        width: 12vw;
    }
    .categorie3-wrapper p {
        font-size: 1.2em;
    }

    @media only screen and (max-width:1440px){
    .categorie3-wrapper{
        width: 12vw;
    }
    
   
    .link-wrapper a{
        font-size: 1vw;
    }
    }
@media only screen and (max-width:1024px){
    
    .categorie3-wrapper{
        width: 14vw;
    }
    .geen-idee-blokken img {
        height: 7vw;
    }
    
}

@media only screen and (max-width:768px ){
  
    
  
   
    .categorie3-wrapper {
        width: 20vw;
    }
    .categorie3-wrapper p{
        font-size:1.3vw;
    }
  
    .filling{
        display: block;
    }
        
}


@media only screen and (max-width:425px){
    .geen-idee-blokken{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .categorie2-wrapper h2{
        font-size: 4.5vw;
    }
    .title-text{
        font-size: 3vw;
        width: 100%;
    }
    .geen-idee-wrapper h3{
        font-size: 4vw;
    }
    .geen-idee-blokken h4 {
        font-size: 3vw;
    }
    .geen-idee-blokken p {
        font-size: 2.5vw;
        max-width:30vw;
        margin-bottom: 20px;
    }
    .verfzoeker-button{
        margin-top:30px !important;
    }
    

}

</style>
