<div class="grid">
  <div class="grid__item">	
      <div class="categorie2-wrapper">
            <h2>verf<span class="title-2"></span></h2>
            <p class="title-text">{{ page_description }} </p>

            <div class="content-wrapper">
                <div class="link-wrapper">
                    <h4>Verf</h4>
                    <ul>
                        <li>
                            <a href="/collections/grondlaag-primer">>Grondlaag - primer</a>
                        </li>
                        <li>
                            <a href="/collections/binnenmuurverf">>Binnenmuurverf</a>
                        </li>
                        <li>
                            <a href="/collections/plafondverf">>Plafondverf</a>
                        </li>
                        <li>
                            <a href="/collections/lakverf-binnen">>Lakverf binnen</a>
                        </li>
                        <li>
                            <a href="/collections/lakverf-buiten">>Lakverf buiten</a>
                        </li>
                        <li>
                            <a href="/collections/roestwerende-metaalverf">>Roestwerende metaalverf</a>
                        </li>
                        <li>
                            <a href="/collections/vloerverf">>Vloerverf</a>
                        </li>
                        <li>
                            <a href="/collections/kalei">>Kalei</a>
                        </li>
                        <li>
                            <a href="/collections/kalkverf">>Kalkverf</a>
                        </li>
                        <li>
                            <a href="/collections/structuurverf">>Structuurverf</a>
                        </li>
                    </ul>
                    
                </div>

                <div class="alle-categorie-wrapper">
                    <ul>
                        <li>
                            <a href="/collections/grondlaag-primer">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/grondlaag-primer.png" alt="">
                                <p> Grondlaag - Primer</p>
                            </div>
                        </a>
                        </li>
                        
                        <li>
                            <a href="/collections/binnenmuurverf">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/binnenmuurverf.png" alt="">
                                <p> Binnenmuurverf</p>
                            </div>
                        </a>
                        </li>
            
                        <li>
                            <a href="/collections/plafondverf">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/plafondverf.png" alt="">
                                <p>Plafondverf</p>
                            </div>
                        </a>
                        </li>

                        <li>
                            <a href="/collections/buitenmuurverf">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/buitenmuurverf.png" alt="">
                                <p>Buitenmuurverf</p>
                            </div>
                        </a>
                        </li>
                        
            
                    
                        <li>
                            <a href="https://paintstore.be/collections/benodigdheden">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/lakverf-binnen.png" alt="">
                                <p> Lakverf binnen</p>
                            </div>
                        </a>
                        </li>
                        
                        <li>
                            <a href="https://paintstore.be/collections/kleuren-en-inspiratie">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/lakverf-buiten.png" alt="">
                                <p> Lakverf buiten</p>
                            </div>
                        </a>
                        </li>
            
                        <li>
                            <a href="https://paintstore.be/collections/advies-en-service">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/roestwerende-metaalverf.png" alt="">
                                <p>Metaalverf</p>
                            </div>
                        </a>
                        </li>

                        <li>
                            <a href="https://paintstore.be/collections/advies-en-service">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/vloerverf.png" alt="">
                                <p>Vloerverf</p>
                            </div>
                        </a>
                        </li>
                    
                        <li>
                            <a href="https://paintstore.be/collections/benodigdheden">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/vernis-beits.png" alt="">
                                <p>Vernis en Beits</p>
                            </div>
                        </a>
                        </li>
                        
                        <li>
                            <a href="https://paintstore.be/collections/kleuren-en-inspiratie">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/kalei.png" alt="">
                                <p> Kalei</p>
                            </div>
                        </a>
                        </li>
            
                        <li>
                            <a href="https://paintstore.be/collections/advies-en-service">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/kalkverf.png" alt="">
                                <p>Kalkverf</p>
                            </div>
                        </a>
                        </li>

                        <li>
                            <a href="https://paintstore.be/collections/advies-en-service">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/structuurverf.png" alt="">
                                <p>Structuurverf</p>
                            </div>
                        </a>
                        </li>
                        
            
                    </ul>
                </div>

            </div>
            
            <div class="geen-idee-wrapper">
            <div>
                <h3>Geen idee wat je nodig hebt?</h3>
                <p class="title-text">Zie je door het bos de bomen niet meer?  Heb je geen idee welke verf je nodig hebt om jouw klus tot een goed einde te 
                    bregen ?  Probeer dan zeker de verfzoeker!</p>
            </div>
            <div class="geen-idee-blokken">
                <div>
                    <img src="{{ 'tablet.png' | asset_url }}" alt="">
                    <h4>Vragen</h4>
                <p>Vul de vragenlijst in</p>
                </div>
                <div>
                    <img src="{{ 'verfpot.png' | asset_url }}" alt="">
                    <h4>verf</h4>
                <p>Kies uit de geselecteerde producten de verf die je nodig hebt</p>
                </div>
                <div>
                    <img src="{{ 'meetlat.png' | asset_url }}" alt="">
                    <h4>Oppervlakte</h4>
                <p>Bepaal de oppervlakte en bereken hoeveel verf je nodig hebt</p>
                </div>
                <div>
                    <img src="{{ 'verfborstel-grijs.png' | asset_url }}" alt="">
                    <h4>materiaal</h4>
                <p>Kies het juiste materiaal dat past bij jouw klus</p>
                </div>
                <div>
                    <img src="{{ 'order.png' | asset_url }}" alt="">
                    <h4>bestel</h4>
                <p>Bestel je producten en wij brengen alles tot bij jou</p>
                </div>
            </div>
            
            <form action="https://google.com">
                <input class="verfzoeker-button" type="submit" value="De verfzoeker" />
            </form>

            </div>

   
        </div>
        

  </div>
</div>
