<div class="grid">
  <div class="grid__item">	
      <div class="categorie2-wrapper">
            <h2>Decoratieve verf<span class="title-2"></span></h2>
            <p class="title-text">Voor elke schilderklus kan je hier de juiste soort verf vinden, van binnenmuurverf tot metaalverf, alles om jouw project te doen slagen.

                Ben je opzoek naar meer informatie of advies ?  Neem dan zeker een kijkje bij de verfzoeker hieronder. </p>

            <div class="content-wrapper">
                <div class="link-wrapper">
                    <h4>Decoratieve verf</h4>
                    <ul>
                        <li>
                            <a href="/collections/magneetverf">>Magneetverf</a>
                        </li>
                        <li>
                            <a href="/collections/bordverf">>Bordverf</a>
                        </li>
                        <li>
                            <a href="/collections/spuitbussen">>Spuitbussen</a>
                        </li>
                        <li>
                            <a href="/collections/kalkverf">>Kalkverf</a>
                        </li>
                        <li>
                            <a href="/collections/structuurverf">>Structuurverf</a>
                        </li>
                    </ul>
                    
                </div>

                <div class="alle-categorie-wrapper">
                    <ul>
                        <li>
                            <a href="/collections/verfborstels">
                            <div class="categorie3-wrapper">
                            
                                {{ 'verfborstels.png' | asset_url | img_tag }}
                                <p>Magneetverf</p>
                            </div>
                        </a>
                        </li>
                        
                        <li>
                            <a href="/collections/binnenmuurverf">
                            <div class="categorie3-wrapper">
                            
                                {{ 'verfrollen.png' | asset_url | img_tag }}
                                <p>Bordverf</p>
                            </div>
                        </a>
                        </li>
            
                        <li>
                            <a href="/collections/plafondverf">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/plafondverf.png" alt="">
                                <p>Spuitbussen</p>
                            </div>
                        </a>
                        </li>

                        <li>
                            <a href="/collections/buitenmuurverf">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/buitenmuurverf.png" alt="">
                                <p>Kalkverf</p>
                            </div>
                        </a>
                        </li>
                        
            
                    
                        <li>
                            <a href="https://paintstore.be/collections/benodigdheden">
                            <div class="categorie3-wrapper">
                            
                                <img src="https://cdn.shopify.com/s/files/1/0367/2100/0583/t/4/assets/lakverf-binnen.png" alt="">
                                <p>Structuurverf</p>
                            </div>
                        </a>
                        </li>
                        
            
                    </ul>
                </div>

            </div>
            
            <div class="geen-idee-wrapper">
            <div>
                <h3>Geen idee wat je nodig hebt?</h3>
                <p class="title-text">Zie je door het bos de bomen niet meer?  Heb je geen idee welke verf je nodig hebt om jouw klus tot een goed einde te 
                    bregen ?  Probeer dan zeker de verfzoeker!</p>
            </div>
            <div class="geen-idee-blokken">
                <div>
                    <img src="{{ 'tablet.png' | asset_url }}" alt="">
                    <h4>Vragen</h4>
                <p>Vul de vragenlijst in</p>
                </div>
                <div>
                    <img src="{{ 'verfpot.png' | asset_url }}" alt="">
                    <h4>verf</h4>
                <p>Kies uit de geselecteerde producten de verf die je nodig hebt</p>
                </div>
                <div>
                    <img src="{{ 'meetlat.png' | asset_url }}" alt="">
                    <h4>Oppervlakte</h4>
                <p>Bepaal de oppervlakte en bereken hoeveel verf je nodig hebt</p>
                </div>
                <div>
                    <img src="{{ 'verfborstel-grijs.png' | asset_url }}" alt="">
                    <h4>materiaal</h4>
                <p>Kies het juiste materiaal dat past bij jouw klus</p>
                </div>
                <div>
                    <img src="{{ 'order.png' | asset_url }}" alt="">
                    <h4>bestel</h4>
                <p>Bestel je producten en wij brengen alles tot bij jou</p>
                </div>
            </div>
            
            <form action="https://google.com">
                <input class="verfzoeker-button" type="submit" value="De verfzoeker" />
            </form>

            </div>

   
        </div>
        

  </div>
</div>
