<div class="grid">

  <div class="grid__item">
    <div class="categorie2-wrapper">.
            <h2>assortiment<span class="title-2"></span></h2>
            <p class="title-text">{{ page_description }}</p>
            </p>
            
            <div class="assortiment-content-wrapper">
                <div class="assortiment-link-wrapper">
                    <h4>Assortiment</h4>
                    <ul>
                        <li>
                            <a href="/pages/verf">>Verf</a>
                        </li>
                        <li>
                            <a href="/pages/muurbekleding">>Muurbekleding</a>
                        </li>
                        <li>
                            <a href="/pages/decoratieve-verf">>Decoratieve verf</a>
                        </li>
                        <li>
                            <a href="/pages/benodigdheden">>Benodigdheden</a>
                        </li>
                    </ul>
                </div>

                <div class="assortiment-alle-categorie-wrapper">
                    
                            <a href="/pages/verf">
                            <div class="assortiment-categorie3-wrapper">
                            
                                {{ 'categorie-verf.png' | asset_url | img_tag }}
                                <p> Verf</p>
                            </div>
                        </a>
                </div>

                <div class="assortiment-link-wrapper">
                    
                    <ul>
                        <li>
                            <a href="/collections/grondlaag-primer">>Grondlaag - primer</a>
                        </li>
                        <li>
                            <a href="/collections/binnenmuurverf">>Binnenmuurverf</a>
                        </li>
                        <li>
                            <a href="/collections/plafondverf">>Plafondverf</a>
                        </li>
                        <li>
                            <a href="/collections/lakverf-binnen">>Lakverf binnen</a>
                        </li>
                        <li>
                            <a href="/collections/lakverf-buiten">>Lakverf buiten</a>
                        </li>
                        <li>
                            <a href="/collections/roestwerende-metaalverf">>Roestwerende metaalverf</a>
                        </li>
                        <li>
                            <a href="/collections/vloerverf">>Vloerverf</a>
                        </li>
                        <li>
                            <a href="/collections/kalei">>Kalei</a>
                        </li>
                        <li>
                            <a href="/collections/kalkverf">>Kalkverf</a>
                        </li>
                        <li>
                            <a href="/collections/structuurverf">>Structuurverf</a>
                        </li>
                    </ul>
                </div>
                
                <div class="assortiment-alle-categorie-wrapper">
                    
                            <a href="/pages/muurbekleding">
                            <div class="assortiment-categorie3-wrapper">
                            
                                {{ 'categorie-muurbekleding.png' | asset_url | img_tag }}
                                <p> Muurbekleding</p>
                            </div>
                        </a>
                </div>

                <div class="assortiment-link-wrapper">
                    
                    <ul>
                        <li> 
                            <a href="/collections/decoratief-behang">>Decoratief behang</a>
                        </li>
                        <li>
                            <a href="/collections/vliesbehang">>Vliesbehang</a>
                        </li>
                        <li>
                            <a href="/collections/muurbekleding-muurstickers">>Muurstickers</a>
                        </li>
                        <li>
                            <a href="/collections/muurbekleding-fotobehang">>Fotobehang </a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-behangmaterialen">>Behangmateriaal</a>
                        </li>
                      
                    </ul>
                </div>

                <div class="assortiment-link-wrapper" style="visibility:hidden;">
                    <h4>benodigdheden</h4>
                    <ul>
                        <li>
                            <a href="verf">>Verf</a>
                        </li>
                        <li>
                            <a href="verf">>Muurbekleding</a>
                        </li>
                        <li>
                            <a href="verf">>Decoratieve verf</a>
                        </li>
                        <li>
                            <a href="verf">>Benodigdheden</a>
                        </li>
                    </ul>
                </div>
                <div class="assortiment-alle-categorie-wrapper">
                    
                            <a href="/pages/decoratieve-verf">
                            <div class="assortiment-categorie3-wrapper">
                            
                                {{ 'categorie-decoratieve-verf.png' | asset_url | img_tag }}
                                <p> Decoratieve verf</p>
                            </div>
                        </a>
                </div>
                
                <div class="assortiment-link-wrapper">
                    
                    <ul>
                        <li>
                            <a href="/collections/magneetverf">>Magneetverf</a>
                        </li>
                        <li>
                            <a href="/collections/bordverf">>Bordverf</a>
                        </li>
                        <li>
                            <a href="/collections/spuitbussen">>Spuitbussen</a>
                        </li>
                        <li>
                            <a href="/collections/kalkverf">>Kalkverf</a>
                        </li>
                        <li>
                            <a href="/collections/structuurverf">>Structuurverf</a>
                        </li>
                    </ul>
                </div>

                <div class="assortiment-alle-categorie-wrapper">
                    
                            <a href="/pages/benodigdheden">
                            <div class="assortiment-categorie3-wrapper">
                            
                                {{ 'categorie-benodigheden.png' | asset_url | img_tag }}
                                <p> Benodigdheden</p>
                            </div>
                        </a>
                </div>

                <div class="assortiment-link-wrapper">
                    
                    <ul>
                        <li>
                            <a href="/collections/benodigheden-verfborstels">>Verfborstels</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-verfrollen">>Verfrollen</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-schuurmateriaal">>Schuurmateriaal </a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-afplak-en-beschermingsmateriaal">>Afplak- en beschermingsmateriaal</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-voegen-vullen-en-plamuren">>Voeg, vullen en plamuren</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-reinigingsmiddelen">>Reinigingsmiddelen</a>
                        </li>
                        <li>
                            <a href="/collections/benodigheden-verfemmers-en-bakjes">>Verfemmers en bakjes</a>
                        </li>
                    </ul>
                </div>

            </div>
            
            <div class="geen-idee-wrapper">
            <div>
                <h3>Geen idee wat je nodig hebt?</h3>
                <p class="title-text">Zie je door het bos de bomen niet meer?  Heb je geen idee welke verf je nodig hebt om jouw klus tot een goed einde te 
                    bregen ?  Probeer dan zeker de verfzoeker!</p>
            </div>
            <div class="geen-idee-blokken">
                <div>
                    <img src="{{ 'tablet.png' | asset_url }}" alt="">
                    <h4>Vragen</h4>
                <p>Vul de vragenlijst in</p>
                </div>
                <div>
                    <img src="{{ 'verfpot.png' | asset_url }}" alt="">
                    <h4>verf</h4>
                <p>Kies uit de geselecteerde producten de verf die je nodig hebt</p>
                </div>
                <div>
                    <img src="{{ 'meetlat.png' | asset_url }}" alt="">
                    <h4>Oppervlakte</h4>
                <p>Bepaal de oppervlakte en bereken hoeveel verf je nodig hebt</p>
                </div>
                <div>
                    <img src="{{ 'verfborstel-grijs.png' | asset_url }}" alt="">
                    <h4>materiaal</h4>
                <p>Kies het juiste materiaal dat past bij jouw klus</p>
                </div>
                <div>
                    <img src="{{ 'order.png' | asset_url }}" alt="">
                    <h4>bestel</h4>
                <p>Bestel je producten en wij brengen alles tot bij jou</p>
                </div>
            </div>
            
            <form action="https://google.com">
                <input class="verfzoeker-button" type="submit" value="De verfzoeker" />
            </form>

            </div>

   
        </div>

        

        <div id="recent-bekeken">
        <hr style="width: 100%; height: .1rem; margin: 20px auto; border: 0; background-color: #d2d2d2;">
        {% include 'recently-viewed' %}
        <hr style="width: 100%; height: .1rem; margin: 20px auto; border: 0; background-color: #d2d2d2;">
        </div>
          
   
  </div>

</div>
